<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - A Pen by purewisdom1</title>

  <link rel="stylesheet" href="css/reset.css">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <html ng-app='todoapp'>
<head>
  <title>To Do List</title>
</head>  
  <body ng-controller='TodoCtrl'>
    <div class="container">
      <h4 class="list-group-item title">Angular To-dos List</h4>
    <!-- List of Todos -->
    <div data-ng-repeat="todo in todos" class="list-group-item">

      <input type="Checkbox" ng-model='todo.done' /> 
      <input type="text" ng-model="todo.text" class='todo'/>
      <a href="" ng-click="move($index, 'up')"><span class="glyphicon glyphicon-arrow-up"></span></a> 
      <a href="" ng-click="move($index, 'down')"><span class="glyphicon glyphicon-arrow-down"></span></a>
      <a href="" ng-click="removeTodo($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>

    </div>
      <div class="list-group-item" ng-show="todoText">
       <input type="checkbox" disabled="true">
       <input type="text" disabled="true" class='todo' placeholder="{{ todoText }}">
      </div>
    <!-- Add todo Form -->
    <form ng-submit='addTodo()' class="list-group-item">
      <input type="text" ng-model="todoText"/>
      <input type="submit"/>
       </form>

    </div>
  </body> 
</html>

  <script src='http://codepen.io/assets/libs/fullpage/angular.js'></script>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script><script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js'></script>

  <script src="js/app.js"></script>

</body>

</html>